<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
   <add name="SafetyStockCalc.Properties.Settings.ConnectionString" connectionString="Data Source=SLSVMDB01;Initial Catalog=SafetySTockCalc;User Id=MoldTracker;Password=P1r4m1d4" providerName="System.Data.SqlClient" />
  </connectionStrings> 

 <!--<connectionStrings>
    <add name="SafetyStockCalc.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-8VMCQ20\KUBA;Initial Catalog=SafetyStockCalc;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings> -->
</configuration>